# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="mysql://root:@localhost:3306/inventory_management_system"
DATABASE_HOST="localhost"
DATABASE_PORT=3306
DATABASE_USER="root"
DATABASE_PASSWORD=""
DATABASE_NAME="dymmy_database"

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRATION= # E.G: 1d

JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRATION= # E.G: 7d

SWAGGER_ENABLED= # E.G: true/false
SWAGGER_URL= # E.G: http://localhost:6000
SWAGGER_PATH= # E.G: /swagger

FRONTEND_URL= # E.G: http://localhost:3000
PORT= # E.G: 6000
NODE_ENV= # E.G: development

THROTTLE_TTL= # E.G: 60
THROTTLE_LIMIT= # E.G: 10
THROTTLE_BLOCK_DURATION= # E.G: 60